*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/* Root variable here  */
:root{
    --body_color: #191C28;
    --Btn-BG: #D03490;
    --Btn_text_color: #fff;
    --Black_color:#000;
    --text_color_light_white: rgba(255, 255, 255, 0.7);
}


/* Common csss start here  */
main{
    width: 100%;
    overflow-x: hidden;
}
body{
    background: var(--body_color);
}
section{
    padding: 50px 0px;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.btn{
    font-weight: 500;
    font-size: 18px;
    background: var(--Btn-BG);
    color: var(--Btn_text_color);
    border: 1px solid var(--Btn-BG);
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background: transparent;
    color: #D03490;
    cursor: pointer;
}
/* Common csss end here  */


/* header css code start  */
header{
    width: 100%;
    padding: 26px 0px;
    background: var(--Btn_text_color);
    overflow-x: hidden;
}
header nav .nav_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_content .header_left .logo,
.footer_item .logo{
    display: flex;
    align-items: center;
}
.header_left .logo img,
.footer_item .logo img{
    width: 51px;
    height: 45px;
    margin-right: 8px;
}
.header_left .logo h4,
.footer_item .logo h4{
    font-weight: 600;
    font-size: 16px;
    color: var(--Black_color);
}



nav .header_middle ul{
    display: flex;
    align-items: center;
    
}
nav .header_middle ul li{
    margin-right: 45px;
}
nav .header_middle ul li:last-child{
    margin-right: 0;
}
nav .header_middle ul li a{
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.7);
}
nav .header_middle ul li a.active{
    color: var(--Black_color);
    font-weight: 500;
}
nav .header_right button{
    padding: 13px 34px;
}
/* header css code End */



/* Home section css start here  */
#home{
    padding: 60px 0px;
    position: relative;
    height: 100vh;
}
#home::after{
    content: '';
    display: block;
    position: absolute;
    right: -100px;
    top: -100px;
    /* width: 50%;
    height: 90%; */
    width: 879px;
    height: 700px;
    background: url('./img/homeBG.png') no-repeat center center / cover;
    z-index: -1;
}
#home .home_content{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.home_content .home_content_text{
    flex: 1.4;
}
.home_content .home_content_img{
    flex: 1.6;
}

.home_content_text h2,
.know_more_content_right h2{
    font-weight: 600;
    font-size: 48px;
    color: var(--Btn_text_color);
}
.home_content_text p,
.know_more_content_right p{
    font-weight: 400;
    font-size: 20px;
    color: var(--text_color_light_white);
    margin: 24px 0px 40px 0px;
}
.home_content_text button,
.know_more_content_right button{
    width: 176px;
    height: 54px;
    
}
.home_content_img img{
    width: 100%;
}
/* Home section css End here  */


/* small logo section css start here  */
#small_logo .small_logo_content{
    display: flex;
    align-items: center;
}

.small_logo_content .small_logo_left{
    flex: 3;
}
.small_logo_content .small_logo_right{
    flex: 1;
}
.small_logo_left .small_logo_grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.small_logo_left .small_logo_grid_item img{
    width: 150px;
    height: 100px;
}
/* small logo section css end here  */


/* know more section css code start  */
#know_more,
#download{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#know_more::before,
#download::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
    /* width: 55%;
    height: 80%; */
    width: 728px;
    height: 574px;
    background: url('./img/know_more.png') no-repeat center / cover;
    z-index: -1;
    /* animation: know_more 15s alternate infinite; */
}
@keyframes know_more{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(20deg);
    }
}
#know_more .know_more_content{
    display: flex;
    align-items: center;
    gap: 15px;
}
.know_more_content .know_more_content_right,
.know_more_content .know_more_content_left{
    flex: 1;
}



/* know more section css code end */





/* Features section css code start */
#feature{}
#feature .feature_title{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
}
#feature .feature_title h2{
    font-weight: 600;
    font-size: 48px;
    color: var(--Btn_text_color);
    text-align: center;
}
.feature_content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 25px;
}
.feature_card_item .feature_card_body{
    border-radius: 5px;
    padding: 15px 10px;
    transition: all 0.3s ease-in-out;
}
.feature_card_item .feature_card_body:hover{
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.233);
}

.feature_card_item .feature_card_body img {
    width: 90px;
    height: 80px;
}
.feature_card_item .feature_card_body h4 {
    font-weight: 500;
    font-size: 32px;
    color: var(--Btn_text_color);
    margin: 24px 0px 20px 0px;
}
.feature_card_item .feature_card_body p {
    font-weight: 400;
    font-size: 18px;
    color: var(--text_color_light_white);
}
/* Features section css code end */



/* Business section css code start  */
#business{
    position: relative;
}
#business::after{
    position: absolute;
    content: '';
    display: block;
    right: 0;
    bottom: 0;
    width: 656px;
    height: 752px;
    background: url('./img/business_shape.png') no-repeat center / cover;
    z-index: -1;
}
.business_content{
    display: flex;
    align-items: center;
    gap: 30px;
}
.business_left,
.business_right{
    flex: 1;
}
.business_left .left_content h2{
    font-weight: 600;
    font-size: 48px;
    color:var(--Btn_text_color);
}
.business_left .left_content p{
    font-weight: 400;
    font-size: 20px;
    margin: 24px 0px;
    color: var(--text_color_light_white);
}
.business_left .left_content .business_plan{
    display: flex;
    align-items: center;
    margin: 0 0 24px 0;
}
.left_content .business_plan span{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    background: var(--Btn-BG);
    overflow: hidden;
    margin-right: 16px;
}
.left_content .business_plan span .fa-solid{
    font-size: 14px;
    color: var(--Btn_text_color);
}
.left_content .business_plan p{
    font-weight: 400;
    font-size: 20px;
    color: var(--text_color_light_white);
    margin: 0;
}
/* Business section css code end  */


/* Download section css code start  */
.download_content{
    display: flex;
    align-items: center;
    gap: 20px;
}
.download_content .download_content_left{
    flex: 2;
}
.download_content .download_content_left img{
    width: 400px;
}
.download_content .download_content_right{
    flex: 3;
}
.download_content .download_content_right h2{
    font-weight: 600;
    font-size: 48px;
    color: var(--Btn_text_color);
}
.download_content .download_content_right p{
    font-weight: 400;
    font-size: 20px;
    margin: 24px 0px 40px 0px;
    color: var(--text_color_light_white);
}
.download_content_right .download_store,
.footer_item_right .download_store{
    display: flex;
    align-items: center;
    gap: 38px;
}
.download_content_right .download_store .download_store_card{
    display: flex;
    align-items: center;
    padding: 16px 32px;
    background: var(--Btn-BG);
    border-radius: 14px;
}
.download_content_right .download_store .download_store_card img,
.footer_item_right .download_store .download_store_card img{
    width: 35px;
    height: 37px;
    margin-right: 14px;
}
.download_store_card div h4,
.footer_item_right .download_store_card div h4{
    font-weight: 600;
    font-size: 14px;
    color: var(--Btn_text_color);
    margin-bottom: 5px;
}
.download_store_card div h5,
.footer_item_right .download_store_card h5{
    font-weight: 400;
    font-size: 14px;
    color: var(--Btn_text_color);
}
/* Download section css code end  */


/* get in touch css code start  */
#get_in_touch{
   
}
#get_in_touch .container{
    background: url('./img/get_in_touch.png') no-repeat center / cover;
}
#get_in_touch::before{
    
}

.get_in_touch_content{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.get_in_touch_content .get_main_content{
    text-align: center;
}
.get_main_content h2{
    font-weight: 600;
    font-size: 48px;
    color: var(--Btn_text_color);
}
.get_main_content p{
    font-weight: 400;
    font-size: 20px;
    color: var(--text_color_light_white);
    margin: 16px 0px 30px 0px;
}
.get_main_content div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.get_main_content div input{
    width: 350px;
    height: 56px;
    padding: 0px 6px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);;
    border-radius: 6px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 16px;
    color: var(--text_color_light_white);
    outline: none;
}
.get_main_content div button{
    width: 200px;
    height: 56px;

}
/* get in touch css code end  */



/* footer css code start  */
footer{
    padding: 40px 0;
    background: #282637;
}
footer .footer_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.footer_item{
    flex: 1;
}
.footer_item .logo h4{
    color: var(--Btn_text_color);
}
.footer_item_left p{
    font-weight: 400;
    font-size: 14px;
    color: var(--text_color_light_white);
    margin-top: 14px;
}
.footer_item_middle{
    text-align: center;
}
.footer_item_middle span{
    font-weight: 600;
    font-size: 20px;
    color: var(--Btn_text_color);
    margin-bottom: 24px;
    display: inline-block;
    position: relative;
}
.footer_item_middle span::before{
    content: '';
    display: block;
    position: absolute;
    left: -65px;
    top: 50%;
    width: 63px;
    height: 2px;
    background: #fff;
}
.footer_item_middle span::after{
    content: '';
    display: block;
    position: absolute;
    right: -65px;
    top: 50%;
    width: 63px;
    height: 2px;
    background: #fff;
}
.footer_item_middle div a{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background:  #191C28;;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    color: var(--Btn_text_color);
    margin-right: 22px;
    transition: all 0.3s ease-in-out;
}
.footer_item_middle div a .fa-brands{
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.footer_item_middle div a:hover{
    background: var(--Btn_text_color);
}
.footer_item_middle div a:hover .fa-brands{
    transform: rotate(360deg);
    color:rgba(0, 0, 0, 1);
}

.footer_item_right h4{
    font-weight: 600;
    font-size: 20px;
    color: var(--Btn_text_color);
    margin-bottom: 24px;
}
.footer_item_right .download_store .download_store_card{
    width: 150px;
    height: 50px;
    padding: 7px 14px;
    display: flex;
    align-items: center;
    background: var(--Btn-BG);
    border-radius: 14px;
}
/* footer css code end  */



/* -----------------responsive css code start 
-------------------------------------------- */
@media (max-width: 991px) {
    #home{
        padding: 60px 0px 10px 0px;
        height: 50vh;

    }
    #home::after{
        width: 70%;
        height: 500px;
    }
    #home .home_content_text h2,
    #know_more .know_more_content_right h2,
    #feature .feature_title h2,
    .business_left .left_content h2,
    .download_content .download_content_right h2,
    .get_main_content h2{
        font-size: 35px;
    }
    #home .home_content_text p,
    #know_more .know_more_content_right p,
    .feature_card_body p,
    .feature_card_item .feature_card_body p,
    .business_left .left_content p,
    .left_content .business_plan p,
    .download_content .download_content_right p,
    .get_main_content p{
        font-size: 16px;
    }

    #small_logo .small_logo_right{
        display: none;
    }
    #know_more{
        height: 60vh;
        padding: 20px 0px;
    }
    #know_more::before,
    #download::before{
    width: 70%;
    height: 400px;
    }
    #feature{
        padding: 20px 0;
    }
    
    .feature_card_body img{}
    .feature_card_item .feature_card_body h4{
        font-size: 25px;
    }
    #download{
        height: 60vh;
    }
    .download_content .download_content_left img{
        width: 100%;
    }
    .download_content_right .download_store, .footer_item_right .download_store{
        flex-direction: column;
    }
    .footer_item_middle div a{
        margin: 0px 18px 18px 0px;
    }
}

@media (max-width: 768px) {
    .business_content{
        display: block;
    }
    .business_right{
        text-align: center;
    }
    .business_right img{
        width: 400px;
        margin: 0 auto;
    }
    
}
@media (max-width: 700px){
    #home,#download{
        height: auto;
    }
    #home::after,
    #know_more::before,
    #download::before
    {
        width: 0;
        height: 0;
    }
    #home .home_content{
        display: block;
    }
    .home_content_img{
        text-align: center;
    }
    .home_content_img img{
        width: 90%;
    }
    #know_more{
        height: auto;
    }
    #know_more .know_more_content,
    .download_content{
        display: block;
    }
    .know_more_content_left{
        text-align: center;
    }
    .know_more_content_left img{
        width: 80%;
    }
    .download_content_left{
        max-width: 300px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .download_content_right .download_store, .footer_item_right .download_store{
        flex-direction: row;
    }
    footer .footer_content{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap: 15px;
    }
    .footer_item_right .download_store .download_store_card{
        width: 160px;
        height: 60px;
    }
    .footer_item_right .download_store .download_store_card img{
        width: 25px;
        height: 25px;
    }
    .footer_item_right .download_store_card h5{
        font-size: 12px;
    }
    
    .footer_item_right .download_store_card div h4{
        font-size: 12px;
        font-weight: 400;
    }

}

@media (max-width : 570px) {
    .download_content_left{
        display: none;
    }
    .get_main_content div{
        display: block;
        text-align: center;
    }
    .get_main_content div button{
        margin-top: 15px;
    }
    section{
        padding: 20px 0;
    }
}

@media (max-width: 480px) {
    .download_content_right .download_store{
        flex-direction: column;
    }

    
}